<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.judy.common.security.mapper.MemberMapper">
	
	<resultMap type="org.judy.common.security.domain.AuthVO" id="authMap">
		<result property="userid" column="mid" />
		<result property="auth" column="auth" />
	</resultMap>

	<resultMap type="org.judy.common.security.domain.MemberVO" id="memberMap">
		<id property="mid" column="mid" />
		<result property="mpw" column="mpw" />
		<result property="sno" column="mname" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="org.judy.store.domain.Store" id="store">
		<result property="mid" column="mid" />
		<result property="sno" column="sno" />
	</resultMap>

	<select id="read" resultType="org.judy.common.security.domain.MemberVO">
		select ta.mid , mpw ,sno ,mname , ta.auth from 
		(select tm.mid mid , tm.mpw mpw , ts.sno sno ,tm.email mname from tbl_manager tm left join tbl_store ts on tm.mid = ts.mid where ts.mid = #{mid} and enable = 1
		union all
		select amid mid, ampw mpw, '0' sno, amname mname from tbl_admin where amid = #{mid}
		union all
		select adid mid, adpw mpw, '0' sno, '광고주' mname from tbl_adv where adid = #{mid} ) tl left join tbl_auth ta on tl.mid = ta.mid
	</select>

</mapper>